{% extends 'headerandfooter.html' %}
{% block content %}
{% load static %}

  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: home -->
    <section id="home" class="divider parallax layer-overlay overlay-dark-3" data-bg-img="images/.jpg">
      <div class="display-table">
        <div class="display-table-cell">
            <div class="row">
            <!--  <div class="col-sm-6 col-md-4 col-md-offset-8">-->
			
 <div class="banner">
     <div class="container-fluid padding">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active item1">
      <img src="{% static 'images/blood2.png' %}" alt="..." width="100px" height="200px">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item item1">
      <img src="{% static 'images/blood3.png' %}" alt="..." >
      <div class="carousel-caption">
      </div>
    </div>
     <div class="item item1">
      <img src="{% static 'images/money2.jpg' %}" alt="..." >
      <div class="carousel-caption">
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
   </div>
</div>
			  <!-- slide -->
			  
              <!-- end slid-->  
         
                <script type="text/javascript">
                  $("#appointment_form").validate({
                    submitHandler: function(form) {
                      var form_btn = $(form).find('button[type="submit"]');
                      var form_result_div = '#form-result';
                      $(form_result_div).remove();
                      form_btn.before('&amp;lt;div id="form-result" class="alert alert-success" role="alert" style="display: none;"&amp;gt;&amp;lt;/div&amp;gt;');
                      var form_btn_old_msg = form_btn.html();
                      form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                      $(form).ajaxSubmit({
                        dataType:  'json',
                        success: function(data) {
                          if( data.status == 'true' ) {
                            $(form).find('.form-control').val('');
                          }
                          form_btn.prop('disabled', false).html(form_btn_old_msg);
                          $(form_result_div).html(data.message).fadeIn('slow');
                          setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                        }
                      });
                    }
                  });
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!--Section:  About -->
  
    <!-- Section: Services -->
    <section class="bg-light yimg" >
      <div class="container pb-30">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
			 
			 <br>
              <h2 class="text-uppercase title">Why Should We Help <span class="text-black-111"> </span></h2>
              <h5 class=" letter-space-1"><i><b>"There are so many orphan childrens are there in India.They don't get proper food and cloths to wear.
			  The Govt has taking taking some orphans and let we take take for some childrens in a small way, which is we able to do. Stop spending money for the gods, and spend for the orphan childrens. Lets stop child labour and makes them as students.Think a second about those child only we are theire for them. please be support to us for helping via this team (RAINBOW)... "I've been making a list of the things they don't teach you at school. They don't teach you how to love somebody. They don't teach you how to be famous. They don't teach you how to be rich or how to be poor. They don't teach you how to walk away from someone you don't love any longer. They don't teach you how to know what's going on in someone else's mind. 
			  They don't teach you what to say to someone who's dying. They don't teach you anything worth knowing".</b></i></h5>
            </div>
          </div>
        </div>
		
		<!--
        <div class="section-content">
          <div class="row multi-row-clearfix">
            <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
              <div class="icon-box text-center">
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl" href="#"> <i  class="fa fa-money" ></i> </a>
                <h4 class="text-uppercase">Money Donation</h4>
                
              </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
              <div class="icon-box text-center"> 
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl" href="#"><i class="icon-food"></i></a>
                <h4 class="icon-box-title mt-15 mb-10 text-uppercase">Food Donation</h4>
                
              </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
              <div class="icon-box text-center"> 
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl" href="#"> <i  class="fa fa-heartbeat"></i> </a>
                <h4 class="icon-box-title mt-15 mb-10 text-uppercase">Blood Donation</h4>
               
              </div>
            </div>
           
         <!--  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="icon-box text-center"> 
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl" href="#"> <i class="flaticon-dental-root text-white"></i> </a>
                <h4 class="icon-box-title mt-15 mb-10 text-uppercase">Dentures</h4>
                <p>Eleifend lobortis bibendum volutpat est senectus duis convallis augue hendrerit senectus duis</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="icon-box text-center"> 
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl" href="#"> <i class="flaticon-dental-amalgam text-white"></i> </a>
                <h4 class="icon-box-title mt-15 mb-10 text-uppercase">Pharmecy</h4>
                <p>Eleifend lobortis bibendum volutpat est senectus duis convallis augue hendrerit senectus duis</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="icon-box text-center"> 
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl" href="#"> <i class="flaticon-dental-dental-floss text-white"></i> </a>
                <h4 class="icon-box-title mt-15 mb-10 text-uppercase">Orthodontics</h4>
                <p>Eleifend lobortis bibendum volutpat est senectus duis convallis augue hendrerit senectus duis</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="icon-box text-center"> 
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-xl" href="#"> <i class="flaticon-dental-molar-tooth text-white"></i> </a>
                <h4 class="icon-box-title mt-15 mb-10 text-uppercase">Pediatrics</h4>
                <p>Eleifend lobortis bibendum volutpat est senectus duis convallis augue hendrerit senectus duis</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </section>

    <!-- Section: Department -->


    <!-- Section: team -->
    <section >
      <div class="ourimgs container pb-30 pb-sm-0">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12" id="service" >
              <h2 class="serv text-uppercase title">Donate<span class="text-black-111"> Here</span></h2>
            
            </div>
          </div>
        </div>
        <div class="section-content text-center" >
          <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-4 pb-sm-30 mb-30">
              <div class="team-member maxwidth400 bg-white">
                <a href="{% url 'blood' %}"><div class="thumb"><img alt="" src="{% static 'images/blood1.png' %}" class="img-fullwidth" width="100px" height="200px" border-radius="50%"></div>
                <div class="info">
                  <h4 class="name">Blood Donation</a></h4>
                  <!--<h5 class="occupation text-gray">...........</h5>
                  <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-10 mb-10">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>-->
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-4 pb-sm-30 mb-30">
              <div class="team-member maxwidth400 bg-white">
               <a href="#"> <div class="thumb"><img alt="" src="{% static 'images/food1.jpg' %}" class="img-fullwidth" width="100px" height="200px"></div>
                <div class="info">
                  <h4 class="name">Food Donation</a></h4>
                  <!--<h5 class="occupation text-gray">Anything</h5>
                  <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-10 mb-10">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>-->
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-4 pb-sm-30 mb-30">
              <div class="team-member maxwidth400 bg-white">
                <a href="{% url 'money' %}"><div class="thumb"><img alt="" src="{% static 'images/m1.jpg' %}" class="img-fullwidth" width="100px" height="200px"></div>
                <div class="info">
                  <h4 class="name">Money Donation</a></h4>
                  <!--<h5 class="occupation text-gray">1Rs to </h5>
                  <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-10 mb-10">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>-->
                  </ul>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </section>

   

    <!-- Section: Pricing -->
   

    <section class="divider parallax layer-overlay overlay-blue" data-bg-img="{% static 'images/bg/bg1.jpg' %}">
      <div class="container pt-0 pb-0">
        <div class="pt-40 pb-40 pb-sm-0">
          <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-4 mb-md-50">
              <div class="funfact text-center"> 
                <a href="#"> <i class="fa fa-calendar text-white font-36"></i></a>
                <h5 class="animate-number text-white-f1 font-36" data-value="2" data-animation-duration="2500">0</h5>
                <h6 class="title text-white-f3 font-16">since</h6>
              </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-4 mb-md-50">
              <div class="funfact text-center"> 
                <a href="#"> <i class="fa fa-user text-white font-36"></i></a>
                <h5 class="animate-number text-white-f1 font-36" data-value="1921" data-animation-duration="2500">0</h5>
                <h6 class="title text-white-f3 font-16">We Helped</h6>
              </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-4 mb-md-50">
              <div class="funfact text-center"> 
                <a href="#"> <i class="fa fa-globe text-white font-36"></i></a>
                <h5 class="animate-number text-white-f1 font-36" data-value="25" data-animation-duration="2500">0</h5>
                <h6 class="title text-white-f3 font-16">Telangana District</h6>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>

   {% endblock %}

