
{% extends 'headerandfooter.html' %}
{% block content %}
{% load static %}


<section id="gallery">
      <div class="container-fluid pb-0">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
              <h2 class="text-uppercase title">Our <span class="text-black-111"> Gallery</span></h2>
              <p class="text-uppercase letter-space-1">..............................................................................................</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- Works Filter -->
            <div class="portfolio-filter font-alt align-center">
              <a href="#" class="active" data-filter="*">All</a>
              <a href="#money" data-filter=".money">Money Donate</a>
              <a href="#food" data-filter=".food">Food Donate</a>
              <a href="#blood" data-filter=".blood">Blood Donate</a>
            </div>
            <!-- End Works Filter -->
            
            <!-- Portfolio Gallery Grid -->
            {% for mon in mimg %}
            <div id="grid" class="gallery-isotope grid-4 gutter clearfix">
              <!-- Portfolio MONEY Start -->
              <div class="gallery-item money">
                <div class="thumb">
                  <img class="img-fullwidth" src="{{ mon.moneyimage.url }}" >
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a data-lightbox="image" href="{{ mon.moneyimage.url }}"><i class="fa fa-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- Portfolio Item End -->

              <!-- Portfolio ALL Start -->
              {% for all in aimg %}
              <div class="gallery-item photography">
                <div class="thumb">
                  <img class="img-fullwidth" src="{{ all.allimage.url }}" alt="project" height="220" width="150">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a data-lightbox="image" href="{{ all.allimage.url }}"><i class="fa fa-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- Portfolio Item End -->

             
              <!-- Portfolio FOOD Start -->
              {% for food in fimg %}
              <div class="gallery-item food">
                <div class="thumb">
                  <img class="img-fullwidth" src="{{ food.foodimage.url }}" alt="project">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a data-lightbox="image" href="{{ food.foodimage.url }}"><i class="fa fa-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- Portfolio Item End -->

             

              <!-- Portfolio BLOOD Start -->
              {% for blood in bimg %}
              <div class="gallery-item blood">
                <div class="thumb">
                  <img class="img-fullwidth" src="{{ blood.bloodimage.url }}" alt="project">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a data-lightbox="image" href="{{ blood.bloodimage.url }}"><i class="fa fa-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- Portfolio Item End -->

              

              
            

             

            </div>
            <!-- End Portfolio Gallery Grid -->
          </div>
        </div>
      </div>
    </section>
	
{#	<!--end-->#}
{#	 <footer id="footer" class="bg-black-222">#}
{#		 <div class="container">#}
{#    <!--<div class="container pt-70 pb-30">-->#}
{#     <div class="row row1 border-bottom-black">#}
{#        <div class="col-sm-6 col-md-3">#}
{#          <div class="widget dark bg">#}
{#            <img class="mb-20" alt="" src="images/log.png">#}
{#            <p class="text-gray">#}
{#		  <strong><b>INNOVATORS SOCIAL WELFARE SOCIETY</b></strong>#}
{#		  </p>#}
{#            <ul class="list-inline mt-5">#}
{#			#}
{#			<li class="m-0 pl-10 pr-10"> <i class="fa fa-map-marker text-theme-colored mr-5"></i><a class="text-gray" href="#">10-14/A,RAIKAL,JAGITYAL,Telangana</a> </li>#}
{#              <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored mr-5"></i> <a class="text-gray" href="#">+91 9121 201 260</a> </li>#}
{#              <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored mr-5"></i> <a class="text-gray" href="#">innovatorsraikal@gmail.com</a> </li>#}
{#              <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-colored mr-5"> </i>  <i class="icon-map-marker"></i><a class="text-gray" href="#">www.innovators.com</a> </li>#}
{#            </ul>#}
{#          </div>#}
{#        </div>#}
{#		<div class="fimg col-md-3">#}
{#		 <div class="widget dark bg">#}
{#            <img class="mb-20" alt="" src="images/log.png">#}
{#            <p class="text-gray">#}
{#		  <strong><b>INNOVATORS SOCIAL WELFARE SOCIETY</b></strong>#}
{#		  </p>#}
{#            <ul class="list-inline mt-5">#}
{#			#}
{#			<li class="m-0 pl-10 pr-10"> <i class="fa fa-map-marker text-theme-colored mr-5"></i><a class="text-gray" href="#">10-14/A,RAIKAL,JAGITYAL,Telangana</a> </li>#}
{#              <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored mr-5"></i> <a class="text-gray" href="#">+91 9121 201 260</a> </li>#}
{#              <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored mr-5"></i> <a class="text-gray" href="#">innovatorsraikal@gmail.com</a> </li>#}
{#              <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-colored mr-5"> </i>  <i class="icon-map-marker"></i><a class="text-gray" href="#">www.innovators.com</a> </li>#}
{#            </ul>#}
{#          </div>#}
{#		</div>#}
{#		<div class="fimg col-md-3">#}
{#		 <div class="widget dark bg">#}
{#            <img class="mb-20" alt="" src="images/log.png">#}
{#            <p class="text-gray">#}
{#		  <strong><b>INNOVATORS SOCIAL WELFARE SOCIETY</b></strong>#}
{#		  </p>#}
{#            <ul class="list-inline mt-5">#}
{#			#}
{#			<li class="m-0 pl-10 pr-10"> <i class="fa fa-map-marker text-theme-colored mr-5"></i><a class="text-gray" href="#">10-14/A,RAIKAL,JAGITYAL,Telangana</a> </li>#}
{#              <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored mr-5"></i> <a class="text-gray" href="#">+91 9121 201 260</a> </li>#}
{#              <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored mr-5"></i> <a class="text-gray" href="#">innovatorsraikal@gmail.com</a> </li>#}
{#              <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-colored mr-5"> </i>  <i class="icon-map-marker"></i><a class="text-gray" href="#">www.innovators.com</a> </li>#}
{#            </ul>#}
{#          </div>#}
{#		</div>#}
{#		<div class="col-md-3">#}
{#		 <div class="widget dark bg">#}
{#            <img class="mb-20" alt="" src="images/log.png">#}
{#            <p class="text-gray">#}
{#		  <strong><b>Connect With Us</b></strong>#}
{#		  </p>#}
{#             <ul class="styled-icons icon-dark icon-circled icon-sm">#}
{#              <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#              <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#              <li><a href="#"><i class="fa fa-skype"></i></a></li>#}
{#              <li><a href="#"><i class="fa fa-youtube"></i></a></li>#}
{#              <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>#}
{#            </ul>#}
{#          </div>#}
{#        #}
{#          <!-- <div class="widget dark"> -->#}
{#            <!-- <h5 class="widget-title mb-10">Connect With Us</h5> -->#}
{#            <!-- <ul class="styled-icons icon-dark icon-circled icon-sm"> -->#}
{#              <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->#}
{#              <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->#}
{#              <!-- <li><a href="#"><i class="fa fa-skype"></i></a></li> -->#}
{#              <!-- <li><a href="#"><i class="fa fa-youtube"></i></a></li> -->#}
{#              <!-- <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->#}
{#              <!-- <li><a href="#"><i class="fa fa-pinterest"></i></a></li> -->#}
{#            <!-- </ul> -->#}
{#          #}
{#        <!-- </div> -->#}
{#		</div>#}
{#		#}
{#       <!-- <div class="col-sm-6 col-md-3">#}
{#          <div class="widget dark">#}
{#            <h5 class="widget-title line-bottom">Useful Links</h5>#}
{#            <ul class="list angle-double-right list-border">#}
{#              <li><a href="index-mp-layout1.html">Home</a></li>#}
{#              <li><a href="page-about1.html">About us</a></li>#}
{#              <li><a href="shortcode-sitemap.html">Sitemap</a></li>#}
{#              <li><a href="page-faq-style1.html">Faq's</a></li>#}
{#              <li><a href="page-contact1.html">Contact</a></li>#}
{#            </ul>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-sm-6 col-md-3">#}
{#          <div class="widget dark">#}
{#            <h5 class="widget-title line-bottom">Twitter Feed</h5>#}
{#            <div class="twitter-feed list-border clearfix" data-username="Envato" data-count="2"></div>#}
{#          </div>#}
{#        </div>--#}
{#        <div class="col-sm-6 col-md-3">#}
{#          <div class="widget dark">#}
{#            <h5 class="widget-title line-bottom">Latest News</h5>#}
{#            <div class="latest-posts">#}
{#              <article class="post media-post clearfix pb-0 mb-10">#}
{#                <a href="#" class="post-thumb"><img alt="" src="http://placehold.it/80x55"></a>#}
{#                <div class="post-right">#}
{#                  <h5 class="post-title mt-0 mb-5"><a href="#">Sustainable Construction</a></h5>#}
{#                  <p class="post-date mb-0 font-12">Mar 08, 2015</p>#}
{#                </div>#}
{#              </article>#}
{#              <article class="post media-post clearfix pb-0 mb-10">#}
{#                <a href="#" class="post-thumb"><img alt="" src="http://placehold.it/80x55"></a>#}
{#                <div class="post-right">#}
{#                  <h5 class="post-title mt-0 mb-5"><a href="#">Industrial Coatings</a></h5>#}
{#                  <p class="post-date mb-0 font-12">Mar 08, 2015</p>#}
{#                </div>#}
{#              </article>#}
{#              <article class="post media-post clearfix pb-0 mb-10">#}
{#                <a href="#" class="post-thumb"><img alt="" src="http://placehold.it/80x55"></a>#}
{#                <div class="post-right">#}
{#                  <h5 class="post-title mt-0 mb-5"><a href="#">Storefront Installations</a></h5>#}
{#                  <p class="post-date mb-0 font-12">Mar 08, 2015</p>#}
{#                </div>#}
{#              </article>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>->#}
{#      <div class="row mt-30">#}
{#        <div class="col-md-5">#}
{#          <div class="widget dark">#}
{#            <h5 class="widget-title mb-10">Subscribe Us</h5>#}
{#            <!-- Mailchimp Subscription Form Starts Here ->#}
{#            <form id="mailchimp-subscription-form-footer" class="newsletter-form">#}
{#              <div class="input-group">#}
{#                <input type="email" value="" name="EMAIL" placeholder="Your Email" class="form-control input-lg font-16" data-height="45px" id="mce-EMAIL-footer" >#}
{#                <span class="input-group-btn">#}
{#                  <button data-height="45px" class="btn btn-colored btn-theme-colored btn-xs m-0 font-14" type="submit">Subscribe</button>#}
{#                </span>#}
{#              </div>#}
{#            </form>-->#}
{#            <!-- Mailchimp Subscription Form Validation-->#}
{#            <script type="text/javascript">#}
{#              $('#mailchimp-subscription-form-footer').ajaxChimp({#}
{#                  callback: mailChimpCallBack,#}
{#                  url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;id=49d6d30e1e'#}
{#              });#}
{##}
{#              function mailChimpCallBack(resp) {#}
{#                  // Hide any previous response text#}
{#                  var $mailchimpform = $('#mailchimp-subscription-form-footer'),#}
{#                      $response = '';#}
{#                  $mailchimpform.children(".alert").remove();#}
{#                  console.log(resp);#}
{#                  if (resp.result === 'success') {#}
{#                      $response = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';#}
{#                  } else if (resp.result === 'error') {#}
{#                      $response = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';#}
{#                  }#}
{#                  $mailchimpform.prepend($response);#}
{#              }#}
{#            </script>#}
{#            <!-- Mailchimp Subscription Form Ends Here -->#}
{#          </div>#}
{#        </div>#}
{#       #}
{#       #}
{#      </div>#}
{#    </div>#}
{#   </div>#}
{#        #}
{#  </footer>#}
{#  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>#}
{#</div>#}
{#<!-- end wrapper -->#}
{##}
{#<!-- Footer Scripts -->#}
{#<script src="js/custom.js"></script>#}
{#<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>#}
{#<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>#}
{#<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>#}
{#<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>#}
{#<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>#}
{#<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>#}
{#<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>#}
{#<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>#}
{#<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>#}
{##}
{#</body>#}
{#</html>#}
{% endblock %}